@import url('https://fonts.googleapis.com/css?family=Yantramanav:100');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');

html, body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}
.intro{
	height: 100%;
	width: 100%;
	margin: auto;
	background: url(img/bg.jpeg);
	display: table;
	top: 0;
	background-size: cover;
}
.intro .inner{
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
	text-decoration: none;
}
.inner .footer{
	display: table-cell;
	vertical-align: bottom;
	width: 100%;
	max-width: none;
	text-decoration: none;
}
.content{
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 5%;
}


.content h1{
	font-family: 'Yantramanav', sans-serif;
	font-size: 600%;
	font-weight: 100;
	color: #E1EFE9;
	line-height: 100%;
}

.content h2{
	font-family: 'Yantramanav', sans-serif;
	font-size: 200%;
	font-weight: 100;
	color: #E1EFE9;
	line-height: 100%;
}

.footer {
    clear: both;
    position: absolute;
		bottom: 0;
		text-align: center;
}
.copyright {
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 0%;
}
.copyright h1{
	font-family: 'Yantramanav', sans-serif;
	font-size: 120%;
	font-weight: 100;
	color: #E1EFE9;
	line-height: 100%;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}


/*--- Media Queries --*/
@media screen and (max-width: 900px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 480px) {

}
